<!DOCTYPE html>
<html>
	<head>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<%= stylesheet_link_tag "CSS_1.css" %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Do+Hyeon&family=Gugi&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
		<title>Title Page Demo</title>
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ed794d6ae65683bf48d8428da7d2374e&libraries=services"></script>
	</head>

	<body>
		<%= render 'header' %>
		<hr class="border-bottom"/>

		<div class="company">
			<h1>
				<%= @shop.title %>
			</h1>

		</div>
		<div class="condition">
			<h2>
				상세정보
			</h2>
			<div class="viewTable">
				
				<table>
					<colgroup>
					<col style="width: 80px"><col></colgroup>
					<thead></thead>
					<tbody>
					<tr>
						<th>홈페이지</th>
						<td>
						    <%= link_to @shop.webpage, @shop.webpage %>
						</tr>
					<tr>
						<th>영업시간</th>
						<td><%= @shop.time %></td>
						</tr>
					<tr>
						<th>전화번호</th>
						<td><%= @shop.phonenumber %></td>
						</tr>
					<tr>
						<th>주소</th>
						<td><%= @shop.address %></td>
						</tr>
					<tr>
						<th>예상가격</th>
						<td>고객님 휴대폰 수리 예상가격은 _______원 입니다</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="map">
			<p> 수리점 위치를 지도에서 확인해보세요 </p>
			<div id="mapimage"></div>
		</div>
			
		
		<h2>수리 비용</h2>
		
		<table>
			<tr>
				<th>기종명</th>
				<th>액정 파손</th>
				<th>배터리 교체</th>
				<th>메인보드</th>
				<th>침수 세척</th>
				<th>후면 액정</th>
				<th>카메라 렌즈</th>
			</tr>
		
		<% @shop.fixes.each do |fix| %>
		  <tr>
		  	<td><%= fix.phonenamesd %></td>
		  	<td><%= fix.screen %></td>
		  	<td><%= fix.battery %></td>
		  	<td><%= fix.mainboard %></td>
		  	<td><%= fix.water %></td>
		  	<td><%= fix.back %></td>
		  	<td><%= fix.camera %></td>
		  </tr>
		<% end %>
		</table>
			
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ed794d6ae65683bf48d8428da7d2374e&libraries=services"></script>

		<script type="text/javascript">
				if(typeof kakao === "undefined"){
					location.reload();
				}
				var container = document.getElementById('mapimage');
				var options = {
					center: new kakao.maps.LatLng(33.450701, 126.570667),
					level: 3
				};

				var map = new kakao.maps.Map(container, options);

				// 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
				var mapTypeControl = new kakao.maps.MapTypeControl();

				// 지도에 컨트롤을 추가해야 지도위에 표시됩니다
				// kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
				map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

				// 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
				var zoomControl = new kakao.maps.ZoomControl();
				map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

				// 주소-좌표 변환 객체를 생성합니다
				var geocoder = new kakao.maps.services.Geocoder();

				// 주소로 좌표를 검색합니다
				geocoder.addressSearch('<%= @shop.address %>', function(result, status) {

					// 정상적으로 검색이 완료됐으면 
					if (status === kakao.maps.services.Status.OK) {

						var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

						// 결과값으로 받은 위치를 마커로 표시합니다
						var marker = new kakao.maps.Marker({
							map: map,
							position: coords
						});

						var content = '<div class="custom_overlay"><%= @shop.title %></div>'

						// 커스텀 오버레이를 생성합니다
						var customOverlay = new kakao.maps.CustomOverlay({
							position: coords,
							content: content,
							yAnchor:1 
						});

						
					}
					else {

						var content = '<div class="custom_overlay">결과를 찾을 수 없습니다.</div>'

						var coords = new kakao.maps.LatLng(33.450701, 126.570667);

							// 커스텀 오버레이를 생성합니다
							var customOverlay = new kakao.maps.CustomOverlay({
								position: coords,
								content: content,
								yAnchor:1 
							});

					}

					map.relayout();

					// 커스텀 오버레이를 지도에 표시합니다
					customOverlay.setMap(map);

					// 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
					map.setCenter(coords);

					map.relayout();

				});
					

			</script>
		
</body>
</html>